.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: var(--nav-bg);
  overflow: hidden;
  border-bottom: 10px solid var(--border-color);
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-links a:hover {
  color: var(--hover-glow);
  text-shadow: 0 0 20px var(--hover-glow);
  scale: 1.2;
  transition: color 0.3s ease, text-shadow 0.3s ease, scale 0.3s ease;
}

