:root {
  background-color: #242424;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: black;
  overflow: hidden;
  border-bottom: 10px solid #15012c;

}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  text-transform: uppercase;
  
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}
/* para moviles  */
.layout_container {
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "left"
  "right"
  "footer"
}

/* para tablet */
@media (min-width: 768px) {

.layout_container{
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
  "header header header"
  "nav    nav    nav"
  "left   main   right"
  "footer footer footer";
}}

/* para pc */

