:root {
  --primary-bg: #242424;
  --text-color: white;
  --nav-bg: black;
  --border-color: #15012c;
  --hover-glow: #ffffff;
}

/* --- Reseteo Básico y Estilos Globales --- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: #242424; */
  color: white;
}

/* --- Estructura del Layout (Grid) --- */

/* Base para móviles (Mobile-First) */
.layout_container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "left"
    "right"
    "footer";
}

/* Para Tablets */
@media (min-width: 768px) {
  .layout_container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "header header header"
      "nav    nav    nav"
      "left   main   right"
      "footer footer footer";
  }
}

.footer {
  background-color: var(--nav-bg);
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 10px solid var(--border-color);
}

/* --- Main --- */
.container{
  grid-area: main;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}